<div class="main-content">
    <div class="container-fluid">     
        <div class="row">        
            <div class="col-md-4">
            </div>    
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">                       
                        <h4 class="card-title">Welcome to the angular materials</h4>
                        <p class="card-description">
                            UI component infrastructure and Material Design components for mobile and desktop Angular web applications...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
  </div>
  